<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <section class="downloadSection">

                <div class="upload">
                    <form method="post" action="/api/files" enctype="multipart/form-data">
                        <label for="myfile">myfile</label>
                        <input type="file" id="myfile" name="myfile" multiple>
                        <button>Upload</button>
                    </form>
                </div>



    </section>
</body>

</html>